/* Browser Style Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee !important;
  background: rgb(33, 37, 41) !important;
  font-family: 'Recursive', sans-serif !important;
}

#selfie {
  float: left;
  box-shadow: 5px 5px #470c0c;
}

p.footer {
  margin: 0.5rem 0 !important;
}

/* Responsiveness Adjustments */

@media only screen and (max-width: 900px) {

  body {
    font-size: 2.5rem;
  }

  .nav-link {
    font-size: 1.5rem;
}

  #navbarNavAltMarkup {
    text-align: center !important;
  }

  #selfie {
    max-width: 315px;
    max-height: 385px;
    float: none;
    box-shadow: none;
  }

  p.footer {
    text-align: center ;
  }

}