/* Browser Style Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eee;
}

body {
  display: grid;
  gap: 24px;
  grid-template-rows: auto 1fr auto;
  background: #152028 !important;
  font-family: 'Recursive', sans-serif !important;
  overflow: auto;
}

.navbar {
  color: #eee;
  background: #10181f;
}

.container {
  margin-top: 100px;
}

#setup {
  padding-bottom: 125px !important;
}

.greeting {
  padding: 65px 0;
  max-width: 90%;
}

/* Social */

.int-social {
  padding: 0 1.875rem 1.25rem;

}

.int-social-list {
  display: flex;
  justify-content: left;
  border-top: 0.5px rgb(212, 54, 75) solid;
  width: 20%;
  padding-top: 1.15rem;
}

.int-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
  list-style-type: none;
}

.fab {
  color: #eee;
}

.fab:hover {
  text-decoration: none;
  color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


/* Scrollbar */

body::-webkit-scrollbar {
  width: 0.65em;
  background-color: #eee;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #eee;
	border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(179, 45, 62);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.detail {
  vertical-align: text-top;
}

.i,
.w,
.s {
  padding-bottom: 25px;
}

.navbar .navbar-nav .nav-link {
  margin: 0 5px;
}

.navbar .navbar-nav .nav-link:hover {
  box-shadow: 1px 0px 0px 0px rgb(212, 54, 75);
}

#selfie {
  margin-right: 100px !important;
  box-shadow: 2px 2px rgb(212, 54, 75);
}

#carouselExampleCaptions .carousel-item .carousel-caption {
  background-color: rgba(33, 37, 41, 0.5);
  text-align: left;
}

p.footer {
  margin: 0 0 0.5rem 0 !important;
}

/* Contact form */

form {
  justify-content: center;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

label {
  color:#26547c;
}
.contact-right {
  text-align: left;
  padding-left: 10%;
}

.contact-right .contact-box {
  margin-bottom: 20px;
  margin-left: 120px;
}

.contact-right .contact-box h4 {
  clear: both;
  color: #26547c;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.contact-right .contact-box p {
  font-size: 15px;
  color: #eee;
}

.heading {
  margin-bottom: 30px;
}

.form-control {
  display: block;
  width: 100%;
  line-height: 26px;
  margin-bottom: 30px;
  font-size: 14px;
  box-shadow: none;
  color: #1f3c88;
  background: #fff;
  border: 1px solid;
  padding: 12px 18px;
  border-radius: 0px;
  font-weight: 400;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.form-control:focus {
  border-color: #ee6f57;
  outline: 0;
}

.pagination .page-item .page-link {
  margin: 3px;
  padding: 15px 20px;
  color: #ee6f57;
  background: #fff;
}

.pagination .page-item .page-link:hover {
  background: #ee6f57;
  color: #fff;
}

/* Responsiveness Adjustments */

@media only screen and (max-width: 900px) {

  body {
    font-size: 2.5rem;
  }

  #intro {
    margin-top: 50px;
  }

  #work {
    margin-top: 15px;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .int-social-list {
    width: 100%;
    justify-content: start;
  }

  .contact-right .contact-box {
    margin-top: 50px;
  }

  .greeting {
    padding: 50px 0;
    max-width: 100% !important;
  }

  .navbar .navbar-nav .nav-link:hover {
    box-shadow: 0px 1px 0px 0px rgb(212, 54, 75);
  }

  #selfie {
    max-width: 315px;
    max-height: 385px;
    float: none;
    box-shadow: none;
    align-items: center !important;
  }

  p.footer {
    text-align: center;
  }

}